page-home {
  // .background{
  //       background: no-repeat fixed center;
  //       -webkit-background-size: cover;
  //       -moz-background-size: cover;
  //       background-size: cover;
  //       background-image: url(../assets/images/kitchen.png);
  //   }

  ion-grid {
   border: 2px solid black;
   height: 90%;

   ion-row {
     height: 33.33%;
   }

   ion-col {
     border: 2px solid black;
   }
  }

  .image {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  h2 {
    background-color: white;
    border: 2px solid black;
    text-align: center;
  }

    #buttons {
      background: transparent;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      border-bottom: 0px;
      text-align: center;
    }
}
