page-home {
  ion-grid {
    // border: 2px solid black;
    height: 100%;
    width: 100%;
    ion-row {
      height: 25%;
    }

    .text_row {
      height: 10%;
    }

    ion-col {
      // border: 2px solid black;
    }
  }

  .child {
    width: 100vw;
    height: 40vh;
  }

  .parent {
    width: 100vw;
    height: 60vh;
  }

  h2 {
    background-color: white;
    border: 2px solid black;
    text-align: center;
  }

  #buttons {
    background: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    text-align: center;
  }

  .kitchen {
    background-image: url('../assets/images/kitchen.png');
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center;
  }
}
